<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.example.vitabuddy.dao.ISupplementDAO">

<!-- 기능별 태그 리스트 -->
<select id="getFunctionTags" resultType="string">
	select distinct f.Function as function
 	from supplement s
	join supplement_function sf ON s.SupId = sf.SupID
	join function f ON sf.FunctionID = f.FunctionID
	
</select>

<!-- 성분별 태그 리스트 -->
<select id="getIngredientTags" resultType="string">
	select distinct i.ingredient
 	from supplement s
	join ingredientsupplement ins ON s.SupId = ins.SupId
	join ingredient i ON ins.ingredientID = i.ingredientID
</select>

<!-- 브랜드 태그 리스트 -->
<select id="getBrandTags" resultType="string">
	select distinct supBrand from supplement
</select>


<!-- resultMap 구성은 SupplementVO 객체필드와 동일하게. select로 필요한 열들만 기입하고, resultMap을 supMap으로 지정 -->
	<resultMap id="supMap" type="com.example.vitabuddy.model.SupplementVO">
		<result property="supId" column="supId"/>
		<result property="supName" column="supName"/>   
		<result property="supPrice" column="supPrice"/>
		<result property="supBrand" column="supBrand"/>
		<result property="supDosage" column="supDosage"/>
		<result property="supNutri" column="supNutri"/>   
		<result property="supNutriinfo" column="supNutriinfo"/>
		<result property="supPrecautions" column="supPrecautions"/>
		<result property="supDetail" column="supDetail"/>
		<result property="supImg" column="supImg"/>
	</resultMap>

<!-- 모든 상품 출력하기 - 201개가 출력 (아무 필터링 거치지 않고 상점페이지로 처음 접속했을 대 -->
<select id="getAllSupplements" resultMap="supMap">
	select supId, supName, supPrice, supBrand, supImg
	from supplement
</select>



<!-- 특정 해시태그 선택했을 때 해당 상품 출력 - functions -->
<select id="functionSupplements" parameterType="String"  resultMap="supMap">
	
	select s.supId, s.supName, s.supPrice, s.supBrand, s.supImg
	from supplement s
	join supplement_function sf on s.supId=sf.supId
	join function f on sf.functionId = f.functionId
	where f.function = #{tag}

</select>


<select id="ingredientSupplements" parameterType="String"  resultMap="supMap">

	select s.supId, s.supName, s.supPrice, s.supBrand, s.supImg
	from supplement s, ingredientsupplement ins, ingredient i
    where s.supId = ins.supid and ins.ingredientId = i.ingredientId
    and i.ingredient = #{tag}

</select>



<!-- 특정 해시태그 선택했을 때 해당 상품 출력 - brands -->
<select id="brandSupplements" parameterType="String"  resultMap="supMap">

	select s.supId, s.supName, s.supPrice, s.supBrand, s.supImg
	from supplement s
	where supBrand=#{tag}

</select>


<!-- 키워드 상품 검색 - 상점 페이지 상단에 있는 검색창  -->
<select id="searchbysupKeyword" parameterType="String" resultMap="supMap">
	select supId, supName, supPrice, supBrand, supImg
	from supplement  
	 WHERE supName LIKE '%' || #{keyword} || '%'
</select>


<!-- pagination test -->
<select id="countSupplements" resultType="int">
	select count(*) from supplement

</select>


<!-- pagination test final -->
<select id="pagingList" parameterType="java.util.HashMap" resultMap="supMap">
	<![CDATA[
    SELECT * FROM (
        SELECT ROWNUM AS rn, supId, supName, supPrice, supBrand, supImg
        FROM (
            SELECT supId, supName, supPrice, supBrand, supImg
            FROM supplement
            ORDER BY supId DESC
        )
        WHERE ROWNUM <= #{start} + #{limit}
    )
    WHERE rn > #{start}
    ]]>
</select>



</mapper>